* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
  background-color: #0f0c29;
}


.colorful-text {
  position: relative;
  font-size: 6rem;
  font-weight: bold;
  background-image: linear-gradient(270deg, #ff6ec4, #7873f5, #42e695, #f4e542);
  background-size: 1000% 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.dot-tails {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: black;
  border-radius: 50%;
  pointer-events: none;
  animation: faded 0.4s forwards;
  z-index: 999;
}

@keyframes faded {
  0% {
    opacity: 1;
    transform: scale(2);
  }
  50% {
    opacity: 0;
    transform: scale(4);
  }
  70% {
    opacity: 1;
    transform: scale(2);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}
